/* Basic Reset */
:root {
  --primary: #9575cd;
  --text: #333;
  --bg: #f7f7fb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // z-index: 9999;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}

.navbar-logo span {
  color: var(--primary);
  // margin-left: 1rem;
  font-size: 1.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav a {
  position: relative; /* Agar pseudo-element dapat diposisikan relatif terhadap <a> */
  color: #fff; /* Warna teks */
  font-size: 1rem; /* Ukuran font */
  margin: 0 1rem; /* Margin horizontal */
  padding: 15px; /* Padding untuk konsistensi */
  text-align: center; /* Pusatkan teks */
  transition: color 0.3s ease; /* Transisi warna */
}

.navbar-nav a::after {
  content: ""; /* Membuat pseudo-element */
  position: absolute; /* Memungkinkan untuk memposisikan di bawah teks */
  left: 0; /* Mulai dari kiri */
  bottom: -5px; /* Jarak dari bawah teks */
  width: 100%; /* Lebar garis sama dengan lebar <a> */
  height: 2px; /* Ketebalan garis */
  background-color: var(--primary); /* Warna garis */
  transform: scaleX(0); /* Skala awal 0 untuk menyembunyikan garis */
  transition: transform 0.3s ease; /* Transisi halus untuk skala */
}

.navbar-nav a:hover::after {
  transform: scaleX(1); /* Skala garis menjadi penuh saat hover */
}

.navbar-nav a:hover {
  color: var(--primary); /* Ubah warna teks saat hover */
}

.navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}
.hidden {
  display: none;
}

#dropdownMenu {
  display: none;
}

#dropdownMenu.active {
  font-size: 1rem;
  display: block;
}

#content {
  flex: 1 1 60%;
}

article {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e4e4e4;
  border-radius: 5px;
}
main {
  margin-top: 10rem;
}

aside {
  flex: 1 1 30%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

aside img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive */
@media (max-width: 820px) {
  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 65%;
    height: 100vh;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
  }

  .navbar-nav.active {
    right: 0;
  }

  .navbar-nav a {
    color: var(--text);
    margin: 0; /* Hilangkan margin untuk mengontrol ukuran dengan lebih baik */
    background-color: transparent; /* Latar belakang default */
    font-size: 0.8rem;
    padding: 15px; /* Atur padding untuk konsistensi ukuran */
    width: 150px; /* Ubah sesuai kebutuhan */
    height: 50px; /* Atur tinggi agar konsisten */
    display: flex; /* Menggunakan flex untuk menempatkan teks di tengah */
    justify-content: center; /* Pusatkan konten secara horizontal */
    align-items: center; /* Pusatkan konten secara vertikal */
    border-radius: 5px; /* Sudut melengkung */
    transition: background-color 0.3s ease; /* Transisi warna latar belakang */
  }
  .navbar-nav a:hover {
    background-color: var(--primary); /* Ubah latar belakang saat hover */
    color: #fff; /* Ubah warna teks jika diinginkan */
  }

  #hamburger-menu {
    display: inline-block;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    padding-top: 6rem; /* Jarak tambahan untuk menghindari tumpang tindih dengan navbar */
  }
}
